.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 3vh 0;
  border-top: 0.2rem solid rgba(0, 28, 15, 0.2);
}

.contact__title {
  font-family: "Silkscreen", "Courier New", "Lucida Console", monospace;
  font-weight: 700;
  font-size: clamp(1rem, 2.5vw, 3rem);
  color: rgb(244, 122, 95);
  margin: 0;
  padding-bottom: 1rem;
  text-align: center;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: clamp(40vw, 60vw, 75vw);
}

.contact__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: radial-gradient(rgb(0, 110, 89), rgb(0, 85, 60));
  border-radius: 10px;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
  padding: auto 1rem;
  padding-bottom: clamp(0.8rem, 3rem, 3.5rem);
}

.contact__item p {
  font-family: "Inconsolata", "Roboto Mono", monospace;
  font-weight: 700;
  font-size: clamp(1rem, 4vw, 3.5rem);
  text-wrap: wrap;
  color: #fff;
  margin: 2.5rem 1rem;
  max-width: 65%;
  align-self: center;
  justify-self: flex-end;
}

.contact__item button {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background: center / contain no-repeat url("/assets/arrow.svg");
  align-items: flex-start;
  width: clamp(0.8rem, 3rem, 3.5rem);
  height: clamp(0.8rem, 3rem, 3.5rem);
  border: 2px solid rgba(288, 288, 288, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.contact__item button:hover {
  background-color: rgba(288, 288, 288, 0.1);
  border: 2px solid rgba(150, 50, 166, 0.8);
}

.contact__item_email {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
