.header {
  text-align: center;
  padding: 6.5vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  color: rgb(0, 28, 15);
}

.header__intro {
  font-family: "Inconsolata", "Roboto Mono", monospace;
  font-weight: 700;
  font-size: clamp(1.5rem, 5vw, 4rem);
  margin: 0 auto;
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 28, 15);
  white-space: nowrap;
  letter-spacing: 0.15em;
  width: 19ch;
  animation: typing 3.5s steps(26, end), blink-caret 0.75s step-end infinite;
}

.header__container {
  margin: 0 10vw 0 auto;
  max-width: 80%;
  font-family: "Inconsolata", "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 60%;
}

.header__name {
  font-family: "Silkscreen", "Courier New", "Lucida Console", monospace;
  font-weight: 700;
  font-size: clamp(1.25rem, 3vw, 4rem);
  color: rgb(244, 122, 95);
  text-align: center;
  margin: 0;
}

.header__role {
  font-size: clamp(1rem, 3vw, 2rem);
  margin: 0;
}

.header__skills,
.header__description {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  line-height: 1.5;
  margin: 0;
}

.header__skills {
  color: rgb(244, 122, 95);
  font-weight: 700;
}

.header a {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(244, 122, 95, 0.5);
  border-radius: 5px;
}

.header__description {
  font-style: italic;
  text-emphasis: center;
}

.header__image {
  max-width: clamp(12rem, 40vw, 20rem);
  height: auto;
  display: block;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 28, 15);
  }
}

@media screen and (max-width: 475px) {
  .header__container {
    flex-direction: column;
  }
}
