/* Footer: General Styles */
.footer {
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(rgb(0, 110, 89), rgb(0, 65, 35));
}

/* Footer Container */
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 5%;
}

/* Signature Section */
.footer__signature {
  width: clamp(100px, 15%, 150px);
  height: 100%;
  margin-right: auto;
  background: center / contain no-repeat url("/assets/jh-web-dev__logo_lg.png");
}

/* Back to Top Button */
.footer__top-btn {
  display: inline-block;
  text-align: center;
  font-family: "Inconsolata", "Roboto Mono", monospace;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  color: #fff;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}

.footer__top-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.footer__top-btn:active {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media screen and (max-width: 420px) {
  .footer__top-btn {
    font-size: clamp(0.8rem, 1.2vw, 1.4rem);
  }
}
